{% extends 'base.html.twig' %}

{% block body %}
<h2>Créer un Client</h2>
{{ form_start(form) }}
    <div class="mb-3">
        {{ form_label(form.surname) }}
        {{ form_widget(form.surname, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.telephone) }}
        {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="mb-3">
        {{ form_label(form.adresse) }}
        {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button class="btn btn-primary">Ajouter</button>
{{ form_end(form) }}
{% endblock %}
